@import '../../styles/grid-measures.scss';

.stationery-wip {
  padding: 2rem 0;

  .cog { font-size: 4rem; }

  h1,
  h2 {
    text-align: center;
  }

  h1 { margin: 0 0 1rem; }

  h2 {
    margin: 0 0 2rem;
    font-weight: 400;
  }
}

@media #{$gm-xs-tn} {
  .stationery-wip {
    padding: 3.5rem 0;

    h1 { font-size: 1.4rem; }
    h2 { font-size: 1.2rem; }
  }
}

@media #{$gm-xs-lg} {
  .stationery-wip {
    padding: 4rem 0;

    h1 {
      background-color: transparent;
      color: inherit;
      padding: 0;
      font-weight: 600;
      white-space: normal;
    }
  }
}
