header {
  color: #fff;
  position: fixed;
  top: 0;
  background-color: #200d43;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 1;
  box-shadow: 0 0 2px rgba(0,0,0,.14),
              0 2px 4px rgba(0,0,0,.28);

  h1,
  ul,
  li,
  a {
    color: inherit;
  }

  h1 {
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-weight: 100;
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      text-decoration: none;
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: .4rem 0;
    display: block;
    float: right;

    li {
      margin: 0 .3rem 0 0;
      padding: 0;
      display: inline-block;
      list-style: none;

      &:last-child {
        margin: 0;
      }

      &.highlight a {
        margin-left: .75rem;
        background-color: #3b1879;

        &:hover { background: #521cb3; }
      }

      a {
        font-size: .9rem;
        font-weight: 900;
        padding: .8rem 1rem;
        transition: all .3s;
        border-radius: .16rem;

        &:hover { background-color: #3b1879; }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 968px) {
  header {
    height: auto;
    position: absolute;

    ul li {
      display: none;

      &.highlight { display: inline-block; }
    }
  }
}
