html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root,
.app,
section {
  height: 97%;
  min-height: 36rem;
}

@media (min-width: 0) and (max-width: 968px) {
  html,
  body,
  #root,
  .app,
  section {
    height: auto !important;
    overflow: auto;
  }
}
