.btn {
  background-color: purple;
  border: .12rem solid purple;
  padding: 1rem 2rem;
  border-radius: .12rem;
  margin: 0;
  color: #fff;
  font-size: .75rem;
  line-height: normal;
  cursor: pointer;
  transition: all .2s;
  display: inline-block;

  &:hover {
    background-color: red;
  }

  &:focus {
    outline: 0;
  }

  &.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #111;

    &:hover {
      background-color: #f9f9f9;
      color: #111;
    }
  }

  &.btn-circular {
    border-radius: 100%;
  }

  &.btn-rz-1 {
    width: 3.6rem;
    height: 3.6rem;
    padding: .5rem .15rem .4rem 0;
    font-weight: 100;
    font-size: 1.5rem;
  }
}
