@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  &,
  &:focus,
  &:visited {
    color: #3b1879;
    text-decoration: none;
  }

  &:hover { color: #200d43; }
}
