.amount-entry {
  width: 100%;
  padding: 0;
  position: relative;
  display: inline-block;
  border: 0;
  margin: 0 0 3rem;
  color: inherit;

  p {
    color: inherit;
    font-weight: 400;
    font-size: .7rem;
    margin: 0 0 .5rem;
    position: absolute;
    top: .5rem;
    left: .8rem;
  }

  input[type="text"] {
    border-radius: .12rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 1.5rem .8rem .7rem;
    font-size: 1.4rem;
    display: block;
    width: 65%;
    float: left;
  }

  .Select {
    background-color: transparent;
    color: #fff;
    position: relative;
    display: block;
    width: 35%;
    border: 0;
    padding: 0;
    float: left;

    &.has-value.is-pseudo-focused.Select--single {
      .Select-control .Select-value {
        .Select-value-label { color: #fff; }
      }
    }

    .Select-control {
      background-color: transparent;
      border-radius: .12rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      outline: 0;
      color: #fff;

      &,
      &:hover,
      &:focus {
        color: #fff;

        .Select-value {
          background-color: #200d43;
          border: 0;
          font-size: 1.2rem;
          font-weight: 600;
          padding-top: .8rem;
          padding-left: 1.2rem;
          color: #fff;

          &,
          &:hover,
          &:focus {
            color: #fff;

            .Select-value-label { color: #fff; }
          }
        }
      }
    }

    .Select-input {
      height: 3.75rem
    }

    .Select-clear {
      color: #fff;
    }

    .Select-arrow-zone .Select-arrow {
      border-top-color: #fff;
      top: -.2rem;
    }

    &.is-open {
      .Select-arrow-zone .Select-arrow {
        border-top-color: #fff;
        border-bottom-color: #fff;
        top: -.3rem;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 968px) {
  .amount-entry {
    margin: 0 0 2rem;
  }
}
