.amount-entry {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0 0 3rem;
  color: inherit;
  border: 0;
  border-radius: .12rem;
  // border: .13rem solid transparent;



  // .amount-entry-content {
    border-radius: .12rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
                0 2px 10px 0 rgba(0,0,0,.12);

    -webkit-transition: -webkit-box-shadow .55s;
    transition: -webkit-box-shadow .55s;
    transition: box-shadow .55s;
    transition: box-shadow .55s,-webkit-box-shadow .55s;

  // }


  &.is-focused {
    // border-color: rgba(194, 186, 206, 0.13);

    // .amount-entry-content {
      box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),
                  0 17px 50px 0 rgba(0,0,0,.19);
    // }

    input[type="text"] {
      background-color: #fff;
    }

    .Select .Select-control {
      background: linear-gradient(40deg,#5c1cd0, #2e017d);
      background: linear-gradient(to bottom, #5c1cd0, #2e017d);
    }

  }

  // .amount-entry-content {
  //   border-radius: .12rem;
  //   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
  //               0 2px 10px 0 rgba(0,0,0,.12);

  //   position: relative;
  //   overflow: auto;

  //   -webkit-transition: -webkit-box-shadow .55s;
  //   transition: -webkit-box-shadow .55s;
  //   transition: box-shadow .55s;
  //   transition: box-shadow .55s,-webkit-box-shadow .55s;

  // }

  p {
    color: inherit;
    font-weight: 400;
    font-size: .7rem;
    margin: 0 0 .5rem;
    position: absolute;
    top: .7rem;
    left: .8rem;
  }

  input[type="text"] {
    border-radius: .12rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #d0d0d0;
    border: 0;
    outline: 0;
    padding: 1.9rem .8rem 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    width: 55%;
    float: left;

    -webkit-transition: -webkit-background-color .55s;
    transition: -webkit-background-color .55s;
    transition: background-color .55s;
    transition: background-color .55s,-webkit-background-color .55s;

  }

  .Select {
    background-color: transparent;
    color: #fff;
    position: relative;
    display: block;
    width: 45%;
    border: 0;
    // border-left: .2rem solid #c2bace;
    padding: 0;
    float: left;

    &.Select--single.has-value.is-searchable {
      .Select-control .Select-value {
        .Select-value-label { color: #fff; }
      }
    }

    .Select-control {
      // background-color: #200d43;

      // background: linear-gradient(to bottom, #520ece, #25104c);

      background: linear-gradient(40deg,#521cb3, #2f1361);
      background: linear-gradient(to bottom, #521cb3, #2f1361);

      border-radius: .12rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      outline: 0;
      color: #fff;
      height: 4.48rem;


      &,
      &:hover,
      &:focus {
        color: #fff;

        .Select-input {
          background-color: transparent;
          border: 0;
          font-size: 1.2rem;
          font-weight: 600;
          padding-top: 1.3rem;
          padding-bottom: 1.1rem;
          padding-left: 1.2rem;
          color: #fff;
          height: auto;

          input {
            color: inherit;
            font-size: inherit;
            padding: 0;
            font-weight: inherit;
            border: 0;
            text-transform: uppercase;
          }
        }

        .Select-value {
          background-color: transparent;
          border: 0;
          font-size: 1.2rem;
          font-weight: 600;
          padding-top: 1.1rem;
          padding-left: 1.2rem;
          color: #fff;

          &,
          &:hover,
          &:focus {
            color: #fff;

            .Select-value-label { color: #fff; }
          }
        }
      }
    }

    .Select-clear {
      color: #fff;
    }

    .Select-arrow-zone {
      padding: 0 1rem 0 0;

      .Select-arrow {
        border-width: 6px 6px 3px;
        border-top-color: #fff;

      }

      svg { font-size: 1.1rem; }
    }

    &.is-open {
      .Select-arrow-zone .Select-arrow {
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-width: 0 6px 6px;
        top: -3px;
      }
    }

    .Select-currency-name,
    .Select-flag,
    .Select-locker {
      display: inline-block;
    }

    .Select-currency-name { min-width: 2.2rem; }
    .Select-flag { margin-left: .5rem; }

    .Select-menu-outer {
      background-color: #4406b1;
      border: 0;
      z-index: 2;

      .Select-menu {
        background-color: transparent;

        .Select-option {
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          background-color: transparent;

          &.is-selected,
          &.is-focused {
            background-color: rgba(0, 0, 0, 0.16);
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 968px) {
  .amount-entry {
    margin: 0 0 2rem;
  }
}
