footer {
  color: #fff;
  top: auto;
  padding: .8rem;
  font-weight: 100;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: .7rem;
  background-color: rgba(0, 0, 0, .45);
}
