footer {
  padding: 0;
  width: 100%;
  background-color: #200d43;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.14),
              0 -1px 4px rgba(0, 0, 0, 0.28);

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      list-style: none;
      display: inline-block;

      a {
        font-size: .8rem;
        font-weight: 100;

        &,
        &:hover,
        &:focus,
        &:visited {
          color: #fff;
          text-decoration: none;
        }

        i {
          color: inherit;
          font-style: normal;
        }

        &:hover .fa-stack svg:first-child {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      span {
        color: rgba(255, 255, 255, .4);
        display: inline-block;
        margin: 0 .5rem;
        font-size: .6rem;
      }

      .fa-stack {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
        color: inherit;
        margin: 0;
        font-size: 1rem;

        svg {
          position: absolute;

          &:first-child {
            width: 1.8rem;
            height: 1.8rem;
            color: rgba(255, 255, 255, 0.25);
            transition: color .35s;
          }

          &:last-child {
            width: 1.2rem;
            height: 1.2rem;
            color: #200d43;
            top: .3rem;
            left: .3rem;
          }
        }
      }
    }
  }

  .links {
    overflow: hidden;
    padding: 2rem 0;
  }

  .pages {
    float: left;
    padding: .4rem 0 0;
  }

  .social {
    float: right;

    li span { margin: 0 .07rem; }
  }

  .copyright {
    color: #fff;
    padding: 1.1rem 0;
    font-weight: 100;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, .45);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.14),
                0 -2px 4px rgba(0, 0, 0, 0.28);
  }
}

@media (min-width: 0) and (max-width: 968px) {
  footer {
    ul.pages li span { margin: 0 .3rem; }
  }
}
