section {
  // background: #6441A5;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #3b1879;
  padding: 3rem 0 5rem;

  .row {
    .col {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
    }
  }

  .col-ad {
    width: 60%;

    h1,
    p {
      color: rgba(255, 255, 255, .85);
    }

    h1 {
      font-weight: 900;
      font-size: 3.4rem;
      margin: 0 0 4rem;
    }

    p {
      font-weight: 100;
      font-size: 1.1rem;
      margin: 0 0 .8rem;

      &.quote {
        padding: 0;
        color: rgba(255, 255, 255, .1);
        font-weight: 900;
        margin: 0;
        font-size: 10rem;
        line-height: 2rem;
        position: relative;
        top: .7rem;
        font-family: Roboto;
      }

      &.author {
        margin: 0;
        font-size: .9rem;
        text-align: right;
        color: rgba(255, 255, 255, .4);
      }
    }

    .ad {
      width: 100%;
      padding: 4.5rem 7.74rem 0 0;
    }
  }

  .col-feature {
    width: 40%;

    .feature {
      padding: 9rem 0 5rem 2rem;
      width: 100%;
      float: right;
    }
  }
}

@media (min-width: 0) and (max-width: 968px) {
  section {
    height: auto;
    padding: 3rem 0 23rem;

    .row {
      .col {
        width: 100%;

        &.col-ad {
          margin: 0 0 3.5rem;
        }

        .ad {
          padding-left: 0;
          padding-right: 0;

          h1 {
            font-size: 2rem;
          }

          p {
            &.quote {
              font-size: 6rem;
              line-height: .7rem;
              top: -.1rem;
            }

            &.phrase {
              font-size: 1.2rem;
            }
          }
        }

        .feature {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 414px) {
  section {
    padding: 3rem 0;

    .col-ad {
      margin: 0 0 1rem;
    }

    .ad {
      h1 {
        margin: 0;
        text-align: center;
      }

      .quotation {
        display: none;
      }
    }

    .col.col-feature .feature {
      padding: 0 0 5rem;
    }
  }
}
